:root {
    --green: #C9AEA7;
    --white: #ffffff;
    --light-gray: #F1E9E4;
}

.payment-card.current-cart {
    border: 1px solid var(--green);
    background: var(--green);
}

.p-color .button-group-pills .btn {
    border: 2px solid var(--green) !important;
}
.p-color .button-group-pills .btn.active,
.p-color .button-group-pills .btn:hover {
    border: 2px solid var(--green);
    background: var(--green);
}

.my-cart .pt-price, .sub-price, .p-price, .big-btn, .p-tablist .nav-tabs .nav-item .nav-link.active,
.home-hader .nav-item a.big-btn, .btn-border:hover {
    color: var(--green) !important;
}
.text-primary, .cat-dcs h3, .cat-box .btn.btn-icon {
    color: var(--green) !important;
}
.product-box .card-product h6 a:hover, .btn-primary:hover span {
    color: var(--green) !important;
}
.bg-gradiant{
    background: linear-gradient(180deg, rgba(94, 118, 152, 0) 0%, var(--green) 100%);
}
.bg-primary, footer, .store-promotions, .testimonial-section  {
    background: var(--green) !important;
    color: #fff !important;
	border-color: var(--green) !important;
}
.home-hader .nav-item a.big-btn {
	border-color: #fff !important;
}
.p-color ul li a {
    border: 2px solid var(--green) !important;
}

.bg-green {
    background: var(--green) !important;
}

.bg-lighgray{
    background: var(--light-gray) !important;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
    color: var(--green) !important;
}

.store-tabs .card-header h5 a:hover {
    color: var(--green) !important;
}
.form-control:focus {
	border-color: var(--green) !important;
}
.my-cart a:hover {
	 color: var(--green) !important;
}

.p-color ul li a:hover,
.p-color ul li a.active {
    border: 2px solid var(--green);
    color: var(--white) !important;
    background:  var(--green);
}

.review-title .r-rate {
    color: var(--green);
}

body .card, .btn-mycart {
    border: 1px solid var(--green);
}

/* buttton css */

.btn-primary {
    color: var(--white);
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}
.btn-primary:hover {
    color: var(--green);
    background: none !important;
}

.product-box .card-product:hover {
    /* background: var(--green); */
}

.product-box .card-product:hover .bg-primary svg>path {
    fill: var(--green) !important;
}

.product-box .card-product:hover .static-rating .text-gray>path {
    /* fill: var(--green) !important; */
}

header .nav-heart .badge-pill {
    background: var(--green);
}

.topbar-social ul li a:hover span>path {
    fill: var(--green) !important;
}

.testimonial-slider .swiper-slide .card {
    border: none;
}

.testimonial-slider .swiper-pagination-bullet-active {
    background: var(--white);
}

.p-tablist .nav-tabs .nav-item .nav-link.active {
    border-color: var(--white);
}

.btn-mycart.active,
.btn-mycart:hover{
    border: 1px solid var(--green);
    color: var(--white);
    background: var(--green);
}

a.btn-mycart, .cat-dcs p.t-primary {
	color: var(--green);
}
.card-body.b-bottom {
	border-color: var(--green);
}

.topbar-social li a:hover svg>path {
    fill: var(--green) !important;
}

.top-footer ul li a:hover {
    color: var(--green) !important;
}

.s-p-total {
    color: var(--green) !important;
}

.my-cart-section .custom-checkbox .custom-control-label {
    font-weight: 600;
    color: #274a5a;
}

.custom-control-input:checked~.custom-control-label:before {
    border-color: var(--green) !important;
    background-color: var(--green) !important;
    -webkit-box-shadow: none;
    border-radius: 100%;
}

.input-primary {
    border: 1px solid var(--green) !important;
}
.nav-item a.big-btn:hover {
    background: none !important;
}

.input-primary::placeholder {
    color: var(--green) !important;
    font-weight: 500;
}
.form-control::placeholder, select.form-control {
    color: var(--green) !important;
    font-weight: 500;
}
.product-box .card-product:hover .bg-primary, .nav-item a.big-btn:hover {
    background: transparent !important;
    color: var(--green) !important;
    border-color: var(--green);
}
.product-box .card-product .bg-primary:focus {
    background: transparent !important;
    color: var(--black) !important;
}
.product-box .card-product .bg-primary:focus svg path {
    fill: var(--black) !important;
}
.box-primary {
    border-color: var(--green) !important;
    background: var(--green);
}
a.big-btn.border-btn:hover span {
    color: var(--green) !important;
}
a.big-btn.border-btn:hover svg path, .btn-border:hover svg path, .btn-primary:hover svg path, 
.nav-item a.big-btn:hover svg path {
    fill: var(--green) !important;
}

@media screen and (max-width: 991px) {
    header .nav-heart svg path {
        fill:  var(--green) !important;;
    }
    .home-hader .nav-item a.big-btn {
        background: var(--green) !important;
        color: #ffffff !important;
        border: 2px solid var(--green) !important;
    }
    .home-hader .nav-item a.big-btn:hover {
        background: none !important;
        color: var(--green) !important;
        border-color: var(--green) !important;
    }
    .home-hader .nav-item a.big-btn:hover svg path {
        fill: var(--green) !important;
    }
}
/* @media screen and (max-width: 991px) {
    .navbar-toggler-icon {
        background: var(--green);
    }
} */